<div class="head-information-content">
    <h3 class="blue-title">Historia</h3>
    <p class="text-blue">
        Conoce nuestra historia de solidez y transparencia que respalda a todo 
        Multicoop Perú <br/>Siempre creciendo <strong> de la mano contigo</strong>
    </p>
</div>


<div class="wrapper-historia-content">
    <div class="historia">
        <h1>Multicoop Perú</h1>
        <p>, se fundo hace 4 años instaurando su primer centro de operaciones
            en Arequipa en la CalleJerusalen 202 B - Cercado, dispuestos a revolucionar 
            el sistema financiero con profesionalismo, mucha creatividad y sobre todo 
            optimismo por cada uno de nuestros colaboradores prestos a darles un servicio 
            de primera.<br/>
            A la fecha, contamos con 7 agencias ubicadas estrategicamente en las ciudades 
            de Arequipa, Cusco, Tacna, Juliaca, Puno, Moquegua y Ayaviri.
        </p>
    </div>
        
    <div class="image-container">
        <img src="assets/icons/multicoop_yellow.svg" alt="logo multicoop">

    </div>

</div>
