<div class="head-information-content">
    <h3 class="blue-title">Convenios</h3>
    <p class="text-blue">Beneficios  y descuentos exclusivos al ser nuestro socio con nuestros <br />aliados estrategicos. Siempre pensando en tu bienestar.</p>
</div>

<div class="body-information-content">
    <h6 class="bold-text-blue">Recibe atención de calidad por nuestras alianzas estratégicas ricibiendo descuentos en rubros de:</h6>
    <ul class="req-li">
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Salud">
            <span>Salud</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Estéticas">
            <span>Estéticas</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Gastronómicos">
            <span>Gastronómicos</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Entretenimiento">
            <span>Entretenimiento</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Otros">
            <span>Otros</span>        
        </li>
    </ul>
</div>

<div class="tail-information-content">
    <h4 class="blue-sub-title">Estamos asociados a:</h4>
    <!--Crouse de convenios aqui falta las imagenes de los socios-->
    <div class="carousel">
        <img src="assets/images/convenio1.png" alt="">
        <img src="assets/images/convenio2.png" alt="">
        <img src="assets/images/convenio3.png" alt="">
    </div>
</div>

