<div class="reclamaciones-content">
    <form [formGroup]="reclamacionesForm" class="" (ngSubmit)="reclamar(reclamacionesForm.value)">

        <div class="primera-fila">

            <div class="socio-field">
                <label class="">Socio Multicoop</label>
                <input formControlName="socio" type="checkbox" class="" checked>
            </div>

            <div class="agencia-field">
                <label>Agencia</label>
                <select class="" formControlName="agencia">
                    <option value="01">Arequipa</option>
                    <option value="02">Juliaca</option>
                    <option value="03">Puno</option>
                    <option value="04">Moquegua</option>
                    <option value="05">Ayaviri</option>
                    <option value="06">Tacna</option>
                    <option value="07">Cusco</option>
                </select>
            </div>
        </div>

        <div class="segunda-fila">

            <div class="nombres-field">
                <label>Nombres</label>
                <input formControlName="nombres" type="text" class="" placeholder="Diego Armando">
            </div>

            <div class="apellidos-field">
                <label for="inputApellidos">Apellidos</label>
                <input formControlName="apellidos" type="text" class="" placeholder="Rivera Corrales">
            </div>
        </div>

        <div class="tercera-fila">
            <label>Documento</label>

            <select formControlName="tipoDocumento" class="">
                <option value="dni">DNI</option>
                <option value="ce">Carnet de Extrangería</option>
            </select>

            <input formControlName="numeroDocumento" type="text" class="" placeholder="65841298">
        </div>

        <div class="">

            <div class="">
                <label>Direccion</label>
                <input formControlName="direccion" type="text" class="" placeholder="Av. Los arces 1200">
            </div>

            <div class="">
                <label>Departamento</label>
                <select formControlName="departamento" (change)="updateProvincias($event.target.value)">
                    <option *ngFor="let key of getDepartamentos()" [value]="key">{{departamentos[key]}}
                    </option>
                </select>
            </div>

            <div class="">
                <label>Provincia</label>
                <select formControlName="provincia" class="" (change)="updateDistritos($event.target.value)"
                    id="selectProvincia">
                </select>
            </div>

            <div class="">
                <label>Distrito</label>
                <select formControlName="distrito" class="" id="selectDistrito">
                </select>
            </div>

        </div>

        <div class="">

            <div class="">
                <label>Telefono</label>
                <input formControlName="telefono" type="text" class="" placeholder="926485135">
            </div>

            <div class="">
                <label>Correo</label>
                <input formControlName="correo" type="text" class="" placeholder="socio01@gmail.com">
            </div>

        </div>

        <div class="">
            <div class="">
                <label>Fecha de Incidencia</label>
                <input formControlName="incidencia" type="text" placeholder="01-12-2020">
            </div>
        </div>

        <div class="">
            <label>Producto</label>
            <div class="">

                <div class="">
                    <input formControlName="producto" type="radio" class="" name="producto" value="prestamo"
                        (click)="disableOtros()">
                    <label class="">Prestamo</label>
                </div>

                <div class="">
                    <input formControlName="producto" type="radio" class="" name="producto" value="agente"
                        (click)="disableOtros()">
                    <label class="">Agente</label>
                </div>

                <div class="">
                    <input formControlName="producto" type="radio" class="" name="producto" value="pago de servicios"
                        (click)="disableOtros()">
                    <label class="">Pago de servicios</label>
                </div>

                <div class="">
                    <input formControlName="producto" type="radio" class="" name="producto" value="otros"
                        (click)="enableOtros()">
                    <label class="">Otros</label>
                </div>

                <input formControlName="otrosProducto" type="text">

            </div>
        </div>

        <div class="">
            <div class="">
                <label>Detalle de reclamacion</label>

                <div class="">
                    <input formControlName="tipoReclamacion" type="radio" class="" name="tipoReclamacion"
                        value="reclamo">
                    <label class="">Reclamo</label>
                </div>

                <div class=" mb-3 col-md-1">
                    <input formControlName="tipoReclamacion" type="radio" class="" name="tipoReclamacion" value="queja">
                    <label class="">Queja</label>
                </div>
            </div>
        </div>


        <div class="">
            <label>Detalles</label>
            <textarea formControlName="detalleReclamacion" class="" rows="3" maxlength="800"></textarea>
        </div>

        <div class="">
            <input formControlName="condiciones" type="checkbox" class="">
            <label class="">Declaro expresamente haber leido y aceptado la informacion sobre el <a
                    href="../../../assets/docs/tratamiento_de_datos_personales.pdf" target="_blank">tratamiento
                    de datos personales</a>.</label>
            <span *ngIf="!reclamacionesForm.get('condiciones').value">Debe aceptar el tratamiento de
                información para poder enviar su reclamo</span>
        </div>

        <!--<button [disabled]="reclamacionesForm.invalid" type="submit" class="">Enviar</button>-->
        <div class="reclamaciones-send">
            <button type="submit" class="">Enviar</button>
        </div>

    </form>
</div>