<div class="head-information-content">
    <h3 class="white-title">Agentes Multiservicios</h3>
    <p class="white-text">Realiza todas las operaciones que necesites en nuestroa agentes <br /> Multired, BBVA y Kasnet
    </p>
</div>

<div class="body-information-content">
    <h4 class="blue-sub-title">En nuestros agentes, gana tiempo y evita las colas realizando todas las operaciones que
        necesites.</h4>

    <div class="beneficios">
        <div class="beneficios-item">
            <img src="assets/icons/agentes_retiros_depositos.svg" alt="Retiros y Depósitos">
            <h5>Retiros y Depósitos</h5>
            <p>Envía y retira dinero con mucha facilidad.</p>
        </div>

        <div class="beneficios-item">
            <img src="assets/icons/agentes_pagos_instituciones.svg" alt="Pagos a Instituciones">
            <h5>Pagos a instituciones</h5>
            <p>Desde bancos hasta servicios básicos del hogar.</p>
        </div>
    </div>
</div>

<div class="tail-information-content">
    <h3>Ubica nuestros agentes</h3>
    <ul class="req-li">
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Multired Arequipa">
            <span>Multired Arequipa</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Kasnet Arequipa">
            <span>Kasnet Arequipa</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="BBVA Moquegua">
            <span>BBVA Moquegua</span>
        </li>
    </ul>
</div>