<div *ngIf="oportunidad" class="oportunidad-detalle">

    <div class="oportunidad-title">
        <img src="assets/icons/right_arrow.svg" width="2%" alt="">
        <h1>{{oportunidad.cargo}}</h1>
        <img src="assets/icons/left_arrow.svg" width="2%" alt="">
    </div>
    
    <div class="oportunidad">

        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Cargo">
                <span>Agencia</span>
            </div>
            <div class="campo-valor">{{oportunidad.agenciaId | agenciaValor}}</div>
        </div>
    
        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Horario">
                <span>Horario</span>
            </div>
            <div class="campo-valor">{{oportunidad.horario}}</div>
        </div>
    
        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Sueldo">
                <span>Cargo</span>
                <!--
                    <span>Requisitos</span>
                -->
            </div>
            <div class="campo-valor">{{oportunidad.cargo}}</div>
        </div>
    
        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Beneficios">
                <span>Beneficios</span>
                <!--
                    <span>Competencias</span>
                -->
            </div>
            <div class="campo-valor">
                <p *ngFor="let beneficio of oportunidad.beneficios">{{beneficio}}</p>
            </div>
        </div>
    
        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Vacantes">
                <span>Requisitos</span>
            </div>
            <div class="campo-valor">{{oportunidad.requisitos}}</div>
        </div>
    
        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Vacantes">
                <span>Funciones</span>
            </div>
            <div class="campo-valor">{{oportunidad.funciones}}</div>
        </div>

        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Vacantes">
                <span>Competencias</span>
            </div>
            <div class="campo-valor">{{oportunidad.competencias}}</div>
        </div>

        <div class="campo">
            <div class="campo-name">
                <img src="assets/icons/right_arrow.svg" width="5%" alt="Vacantes">
                <span>Vacantes</span>
            </div>
            <div class="campo-valor"><p>{{oportunidad.vacantes}}</p></div>
        </div>


        <div class="campo">
            <div class="campo-actions">
                <button class="prestamo-yellow-button" (click)="mostrarListaOportunidades()">Ver otras Oportunidades</button>
                
                <button class="prestamo-yellow-button" (click)="postulanteForm()">Postula Aqui</button>
            </div>
        </div>
    </div>
    

</div>