<div class="head-information-content">
    <h3 class="blue-title">Misión y Visión</h3>
    <p class="text-blue">Con valores estrategicos para un servicio de calidad</p>
</div>

<div class="wrapper-mision-vision-content">
    <div class="mision-vision">
        <div class="title-mision-vision">
            <img src="assets/icons/right_arrow.svg" >
            <h3>Misión</h3>
        </div>
        <p class="mision-vision-text">
            "Somos una Cooperativa que brinda soluciones en el sector micro
            financiero, buscando el desarrollo de nuestros socios 
            emprendedores a través del trabajo Cooperativo".
        </p>
        <div class="title-mision-vision">
            <img src="assets/icons/right_arrow.svg" >
            <h3>Visión</h3>
        </div>

        <p class="mision-vision-text">
            "Ser la mejor opción del sector cooperativo que contribuya  
            al desarrollo sostenible de nuestros socios a nivel nacional".
        </p>

        <div class="title-mision-vision">
            <img src="assets/icons/right_arrow.svg" >
            <h3>Valores</h3>
        </div>

        <div class="mision-vision-text">
            <ul>
                <li>Honestidad</li>
                <li>Compromiso</li>
                <li>Trabajo en equipo</li>
                <li>Integridad</li>
            </ul>
        </div>
    </div>
        
    <div class="image-container">
        <img src="assets/icons/multicoop_yellow_covid.svg" alt="logo multicoop">
    </div>

</div>