<div class="head-information-content">
    <h3 class="blue-title">Misión y Visión</h3>
    <p class="text-blue">Con valores estrategicos para un servicio de calidad</p>
</div>

<div class="wrapper-mision-vision-content">
    <div class="mision-vision">
        <div class="title-mision-vision">
            <img src="assets/icons/right_arrow.svg" >
            <h3>Misión</h3>
        </div>
        <p class="mision-vision-text">
            "Ser la opcion finaciera preferida de los emprendedores  
            y emprendedoras del pais con responsabilidad social".
        </p>
        <div class="title-mision-vision">
            <img src="assets/icons/right_arrow.svg" >
            <h3>Visión</h3>
        </div>

        <p class="mision-vision-text">
            "Brindar servicios financieros integrales con eficiencia y 
            rapidez; contribuyendo al desarrollo, calidad de vida de 
            nuestros socios y participando activamente  en la presenvacion 
            del medio ambiente".
        </p>
    </div>
        
    <div class="image-container">
        <img src="assets/icons/multicoop_yellow_covid.svg" alt="logo multicoop">
    </div>

</div>