<div class="head-information-content">
    <h3 class="blue-title">Crece con nosotros</h3>
    <p class="white-text">Queremos que nos acompañes con tu talento y experiencia <br /> 
        para impactar positivamente a todos nuestros clientes.</p>
</div>

<div class="body-information-content">
    <h4 class="blue-sub-title">Miles de beneficios para tu <br />crecimiento profesional</h4>

    <div class="beneficios">
        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_pre_califica.svg" alt="pre califica por web">
            <h5>Crecemos de la mano contigo</h5>
            <p>5 años en el rubro financiero, <br/> con planes de epansión en todo <br/> el Perú.</p>
        </div>

        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_plazos_tasas.svg" alt="plazos y tasas flexibles">
            <h5>Beneficios exclusivos para ti</h5>
            <p>Desde horarios flexibles hasta<br /> descuentos coorporativos en todos <br/>los rubros.</p>
        </div>

        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_convenios.svg" alt="convenios para ti">
            <h5>Nos gusta verte crecer</h5>
            <p>Recibes capacitaciones y charlas<br /> constantes para tu crecimiento <br/> profesional.</p>
        </div>
    </div>
</div>

<div class="oportunidades-content">

    <h3>Oportunidades Multicoop</h3>
    
    <table>
        <tr>
            <th>FECHA</th>
            <th>AGENCIA</th>
            <th>CARGO/POSICION</th>
            <th>TIPO</th>
            <th>VACANTES</th>
        </tr>
        <!--Contenido de los campos obtenidos del backend -->
    </table>

</div>