<div class="head-information-content">
    <h2 class="white-title">Red de Agencias Multicoop</h2>
    <p class="white-text">Contamos con 7 agencias en todo el sur del Perú,
        manteniendonos <br />siempre al alcance de todos nuestros socios.</p>
</div>

<div class="agencias-information-content">
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_arequipa.jpg" alt="Arequipa">
        <h4>Arequipa</h4>
        <h5>Calle Jerusalen 202 B - Cercado</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_cusco.jpg" alt="Cusco">
        <h4>Cusco</h4>
        <h5>Av.Garcilaso nº304 Wanchaq</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_tacna.jpg" alt="Tacna">
        <h4>Tacna</h4>
        <h5>Av. Coronel Mendoza nº1758</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_puno.jpg" alt="Puno">
        <h4>Puno</h4>
        <h5>Jr. Moquegua nº165</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_ayaviri.jpg" alt="Ayaviri">
        <h4>Ayaviri</h4>
        <h5>Jr. Arica nº202</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_moquegua.jpg" alt="Moquegua">
        <h4>Moquegua</h4>
        <h5>Calle Liman nº576</h5>
    </div>
    <div class="agencia">
        <img src="assets/images/agencia_ciudad_juliaca.jpg" alt="Juliaca">
        <h4>Juliaca</h4>
        <h5>Jr. San Román nº160</h5>
    </div>
</div>

<div class="tail-information-content">
    <p>Recuerda que nuestro horarios de atención <br/> en todas nuestras agencias es de:</p>
    <div class="horario">
        <img src="assets/icons/beneficios_prestamo_plazos_tasas.svg" alt="horarios">
        <h6>Lunes a Viernes</h6>
        <span>10:00 am. a 2:00pm.</span>
        <h6>Sábados</h6>
        <span>10:00 am. a 1:00pm.</span>
    </div>
</div>