<div class="container-nav-bar" id="myTopnav">

    <div class="container-logo-nav-bar">
        <a routerLink="">
            <img src="assets/icons/white_logo.svg" width="200" alt="200" alt="Multicoop peru">
        </a>
    </div>

    <ul>
        <li class="dropdown">
            <a class="nav-bar-item">Personas</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/personas_logo.svg" width="23%" alt="personas">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="personas/prestamoPersonal">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Préstamo Personal</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="personas/prestamoConsumo">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Préstamo Consumo</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="personas/prestamoPagaDiario">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Préstamo Paga Diario</span>
                    </a>
                </div>
                <div class="dropdown-content-item">
                    <button routerLink="precalificador">Obten tu Préstamo</button>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Empresas</a>

            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/empresas_logo.svg" width="23%" alt="empresas">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="empresas/prestamoHipotecario">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Préstamo Hipotecario</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="empresas/grupalMultiMujer">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Grupal Multi Mujer</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <button routerLink="precalificador">Obten tu Préstamo</button>
                </div>
            </div>

        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Servicios Múltiples</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/servicios_logo.svg" width="23%" alt="servicios multiples">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="serviciosMultiples/agenteMultiservicios">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Agente Multiservicios</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="serviciosMultiples/convenios">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Convenios</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Conócenos</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/conocenos_logo.svg" width="23%" alt="conocenos">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="conocenos/datosEmpresa">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Datos de la Empresa</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="conocenos/historia">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Historia</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="conocenos/misionVision">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Mísion y visión</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Ubícanos</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/ubicanos_logo.svg" width="23%" alt="ubicanos">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="ubicanos/redAgencias">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Red de Agencias</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="ubicanos/telefonosContacto">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Teléfonos de Contacto</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a routerLink="transparencia" class="nav-bar-item">Transparencia</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/ubicanos_logo.svg" width="23%" alt="ubicanos">
                </div>

                <div class="dropdown-content-item">
                    <a routerLink="transparencia/tasasPasivas">
                        <img src="assets/icons/right_arrow.svg" width="6%" alt="prestamo personal">
                        <span>Tasas pasivas</span>
                    </a>
                </div>
            </div>
        </li>

        <li>
            <a routerLink="bolsaTrabajo" class="nav-bar-item">Trabaja con Nosotros</a>
        </li>


    </ul>

    <a href="javascript:void(0);" class="icon" (click)="responsiveController()">&#9776;</a>

</div>