<div class="container-nav-bar" id="myTopnav">

    <div class="container-logo-nav-bar">
        <a routerLink="">
            <img src="assets/icons/white_logo.svg" width="200" alt="200" alt="Multicoop peru">
        </a>
    </div>

    <ul>
        <li class="dropdown">
            <a class="nav-bar-item">Personas</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/personas_logo.svg" width="23%" alt="personas">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="personas/prestamoPersonal" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Préstamo Personal</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="personas/prestamoConsumo" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Préstamo Consumo</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="personas/prestamoPagaDiario" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Préstamo Paga Diario</span>
                    </a>
                </div>
                <div class="dropdown-content-item">
                    <button routerLink="precalificador">Obten tu Préstamo</button>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Empresas</a>

            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/empresas_logo.svg" width="23%" alt="empresas">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="empresas/prestamoHipotecario" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Préstamo Hipotecario</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="empresas/grupalMultiMujer" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Grupal Multi Mujer</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <button routerLink="precalificador">Obten tu Préstamo</button>
                </div>
            </div>

        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Servicios Múltiples</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/servicios_logo.svg" width="23%" alt="servicios multiples">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="serviciosMultiples/agenteMultiservicios" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Agente Multiservicios</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="serviciosMultiples/convenios" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Convenios</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Conócenos</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/conocenos_logo.svg" width="23%" alt="conocenos">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="conocenos/datosEmpresa" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Datos de la Empresa</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="conocenos/historia" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Historia</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="conocenos/misionVision" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Mísion y visión</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Ubícanos</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/ubicanos_logo.svg" width="23%" alt="ubicanos">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="ubicanos/redAgencias" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Red de Agencias</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" routerLink="ubicanos/telefonosContacto" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="prestamo personal">
                        <span>Teléfonos de Contacto</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a class="nav-bar-item">Transparencia</a>
            <div class="dropdown-content">
                <div class="dropdown-content-item logo">
                    <img src="assets/icons/ubicanos_logo.svg" width="23%" alt="ubicanos">
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content" (click)="mostrarTarifarios($event)">
                        <img src="assets/icons/right_arrow.svg"  alt="Transparencia finaciera">
                        <span>Transparencia Financiera</span>    
                    </a>

                    <a class="sub-content" routerLink="transparencia/tarifarioConsumoMype" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="Tarifario">
                        <span>Tarifario Prestamo Consumo y Mype</span>
                    </a>
                    
                    <a class="sub-content" routerLink="transparencia/tarifarioGrupal" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="Tarifario">
                        <span>Tarifario Credito Grupal</span>
                    </a>
                </div>

                <div class="dropdown-content-item">
                    <a class="principal-content"  routerLink="transparencia/procedimientoActencion" (click)="hamburguesaController()">
                        <img src="assets/icons/right_arrow.svg"  alt="Atencion al cliente">
                        <span>Atención al cliente</span>
                    </a>
                </div>

            </div>
        </li>

        <li>
            <a routerLink="bolsaTrabajo" class="nav-bar-item" (click)="hamburguesaController()">Trabaja con Nosotros</a>
        </li>


    </ul>

    <a href="javascript:void(0);" class="icon" (click)="responsiveController()">&#9776;</a>

</div>