<div class="container">
  <div class="item" *ngIf="sst">
      <h2>EVALUACION DE REGLAMENTO DE SEGURIDAD Y SALUD EN EL TRABAJO</h2>
      <p>Busque su numero de dni en la agencia que le correspode</p>
      <div class="listas">
          <app-lista-fichas idAgencia="01" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="02" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="03" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="04" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="05" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="06" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="07" tipoFicha=3 ruta="/interno/rh/reglamento"></app-lista-fichas>
      </div>
  </div>
  
  <div class="item" *ngIf="rit">
      <h2>EVALUACION DE REGLAMENTO INTERNO DE TRABAJO</h2>
      <p>Busque su numero de dni en la agencia que le correspode</p>
      <div class="listas">
          <app-lista-fichas idAgencia="01" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="02" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="03" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="04" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="05" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="06" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
          <app-lista-fichas idAgencia="07" tipoFicha=4 ruta="/interno/rh/reglamento"></app-lista-fichas>
      </div>
  </div>
</div>