<div class="carousel-wrapper">
    <ul>
        <li>
            <img src="assets/images/bienvenida_carousel_item_0.jpg" alt="">
        </li>
        <li>
            <div class="carousel-item">
                <div class="carousel-item-header">
                    <img src="assets/images/bienvenida_carousel_item_1.jpg" alt="">
                </div>
                <div class="carousel-item-body">
                    <button routerLink="precalificador">
                        PRE CALIFICA A UN PRÉSTAMO
                    </button>
                    <button>
                        SIMULA TU PRESTAMO
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div> <img src="assets/icons/left_arrow.svg" id="carousel_controller_prev" width="10" height="10" alt="atras"></div>
    <div> <img src="assets/icons/right_arrow.svg" id="carousel_controller_next" width="10" height="10" alt="siguiente">
    </div>
</div>