<div class="carousel-wrapper">
    <ul>
        <li>
            <div class="carousel-item ">
                <div class="carousel-content carousel-item-0">
                    <h1 class="white-title">Experiencia y Sólidez</h1>
                    <p class="white-text">Somos tu mejor opción financiera</p>
                    <button class="prestamo-yellow-button">Conoce más</button>
                </div>
            </div>
        </li>
        <li>
            <div class="carousel-item">
                <div class="carousel-content carousel-item-1">
                    <h1 class="white-title">Más de 1500 socios</h1>
                    <p class="white-text">Crecemos de la mano contigo</p>
                    <button class="prestamo-yellow-button">Conoce más</button>
                </div>
            </div>
        </li>
        <li>
            <div class="carousel-item">
                <div class="carousel-content carousel-item-2">
                    <h1 class="white-title">Siempre a tu alcance</h1>
                    <p class="white-text">Contamos con 7 agencias en todo el sur</p>
                    <button class="prestamo-yellow-button">Conoce más</button>
                </div>
            </div>
        </li>
    </ul>
</div>