.carousel-item-0{
    background-image: url('../../../assets/images/bienvenida_carousel_item_0.jpg');
    background-repeat: no-repeat;
    background-color: #424240;
    background-size: 100% auto;
    border-radius: 2.5rem;
}

.carousel-item-1{
    background-image: url('../../../assets/images/bienvenida_carousel_item_1.jpg');
    background-repeat: no-repeat;
    background-color: #424240;
    background-size: 100% auto;
    border-radius: 2.5rem;
}

.carousel-item-2{
    background-image: url('../../../assets/images/bienvenida_carousel_item_2.jpg');
    background-repeat: no-repeat;
    background-color: #424240;
    background-size: 100% auto;
    border-radius: 2.5rem;
}

.carousel-wrapper{
    margin: 1% 5%;
    overflow: hidden;
}

.carousel-item{
    display: block;
    padding: 0 2%;
}

.carousel-content{
    text-align: left;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.carousel-wrapper ul{
    padding: 0;
    display: flex;
    width: 300%;
    height: 100%;
    text-align: center;
    animation: cambio 21s infinite;
}

.carousel-wrapper li{
    width: 90%;
    list-style-type: none;
}

#description {
    position: absolute;
    animation: bajon 6s infinite;
    opacity: 1;
}


@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}
}

@keyframes bajon{
    0% {
        top: 15%;
    }

    100%{
        top: 55%
    }
}