<div *ngIf="oportunidad">
    <form [formGroup]="postulanteForm" (ngSubmit)="postular(postulanteForm.value)">
        <div class="postulante-field">
            <label>Nombres</label>
            <input formControlName="nombres" type="text" class="" placeholder="Kleber">
        </div>
    
        <div class="postulante-field">
            <label>Apellidos</label>
            <input formControlName="apellidos" type="text" class="" placeholder="Carpio Ramos">
        </div>
    
        <div class="postulante-field">
            <label>Puesto al que postula</label>
            <input formControlName="puesto" type="text" class="" disabled>
        </div>
    
        <div class="postulante-field">
            <label>Agencia</label>
            <input formControlName="agencia" type="text" class="" disabled>
        </div>

        <div class="postulante-field">
            <label>Adjuntar mi CV</label>
            <input formControlName="curriculum" type="text" class="" placeholder="999666333">
        </div>

        <div class="postulante-send">
            <button [disabled]="postulanteForm.invalid" type="submit" class="">Enviar</button>
        </div>

    </form>
</div>