h1 {
    font-weight: 300;
    font-size: 2.5vw;
    font-family: 'Signika';
    color: rgb(6, 82, 151, 1);
}

.postulante-field{
    display: grid;
    grid-template-columns: 30% 60%;
    text-align: left;
}

.postulante-field label, .oportunidad-details, input{
    font-size: 2vw;
}

.container-form{
    margin-top: 10%;
}

form {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Signika';
}

p{
    margin: 0;
}

.postulante-field, .postulante-send{
    margin: 3% 0;
}

input, .oportunidad-details{
    font-weight: 300;
}

input{
    display: block;
}