<div *ngIf="statusView" class="container-form">
    
	<form
		[formGroup]="postulanteForm"
		(ngSubmit)="postular(postulanteForm.value)"
	>
		<div class="postulante-field">
			<label>Nombres</label>
			<input
				formControlName="nombres"
				type="text"
				class=""
				placeholder="Diego Ernesto"
			/>
		</div>

		<div class="postulante-field">
			<label>Apellidos</label>
			<input
				formControlName="apellidos"
				type="text"
				class=""
				placeholder="Mendoza Pinedo"
			/>
		</div>

		<div class="postulante-field">
			<label>Puesto al que postula</label>
			<div class="oportunidad-details">
				{{ oportunidad.cargo }}
			</div>
		</div>

		<div class="postulante-field">
			<label>Agencias</label>
			<div class="oportunidad-details">
				{{ oportunidad.agenciaId | agenciaValor }}
			</div>
		</div>

		<div class="postulante-field">
			<label>Adjuntar mi CV</label>
			<input formControlName="curriculum" type="file" class="" />
		</div>

		<div class="postulante-send">
			<button [disabled]="postulanteForm.invalid" type="submit" class="prestamo-yellow-button">
				Enviar
			</button>
		</div>
	</form>
</div>
