<div *ngIf="statusView" class="container-form">
    
	<form
		[formGroup]="postulanteForm"
		(ngSubmit)="postular(postulanteForm.value)"
	>
		<div class="postulante-field">
			<div>
				<label>Nombres</label>
			</div>
				<input
					formControlName="nombres"
					type="text"
					class=""
					placeholder="Diego Ernesto"
				/>
		</div>

		<div class="postulante-field">
			<div>
				<label>Apellidos</label>
			</div>
			<input
				formControlName="apellidos"
				type="text"
				class=""
				placeholder="Mendoza Pinedo"
			/>
		</div>

		<div class="postulante-field">
			<div>
				<label>Puesto al que postula</label>
			</div>
			<div class="oportunidad-details">
				<p>
					{{ oportunidad.cargo }}
				</p>
			</div>
		</div>

		<div class="postulante-field">
			<div>
				<label>Agencias</label>
			</div>
			<div class="oportunidad-details">
				<p>
					{{ oportunidad.codigo | agenciaValor }}
				</p>
			</div>
		</div>

		<div class="postulante-field">
			<div>
				<label>Adjuntar mi CV</label>
			</div>
			<div>
				<input formControlName="curriculum" type="file" class="" />
			</div>
		</div>

		<div class="postulante-send">
			<button [disabled]="postulanteForm.invalid" type="submit" class="prestamo-yellow-button">
				Enviar
			</button>
		</div>
	</form>
</div>
