<div class="social">
    <ul>
        <!--
        <li>
            <a href="https://wa.me/51913169666?text=Informes" class="icon" target="_blank">
                <img src="assets/icons/whatsapp.svg" class="social-icon" height="35" width="35" alt="whatsapp multicoop peru" />
            </a>
        </li>
        -->
        <li>
            <a href="https://www.facebook.com/multicooperu/"  target="_blank">
                <img src="assets/icons/facebook.svg" class="social-icon" height="35" width="35" alt=" facebook multicoop peru">
            </a>
        </li>
        <li>
            
            <a href="https://www.instagram.com/multicoopperu/" target="_blank">
                <img src="assets/icons/instagram.svg" class="social-icon" height="35" width="35" alt="instagram multicoop peru">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCbw3bBtTyrQ8LgCuIRMytNg/videos?view_as=subscriber" target="_blank">
                <img src="assets/icons/youtube.svg" class="social-icon" height="35" width="35" alt="youtube multicoop peru">
            </a>
        </li>
    </ul>
</div>
