.social {
    position: fixed;
    right: 0;
    top: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 80;
}

.social ul {
    list-style: none;
}

.social ul li a{
    display: inline-block;
    text-decoration: none;
    background: transparent;
	text-decoration: none;
	padding: .5rem;
	display: flex;
	transition: all .5s;
}

.social-icon:hover{
	transform: scale(1.3);
}

@media screen and (max-width: 1000px){

    .social{
		position: fixed;
		right: 0;
		top: 15%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 80;
	}
}

@media screen and (max-width: 700px) {

	.social{
		position: fixed;
		right: 0;
		top: 10%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 80;
	}

	img {
		width: 70%;
	}

	li, ul{
		margin: 0;
		padding: 0;
	}
	
	a {
		padding: 0;
	}
}

@media screen and (max-width: 400px) {

	.social{
		position: fixed;
		right: 0;
		top: 10%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 80;
		width: 5%;
	}

	img {
		width: 100%;
	}

	li{
		margin: 0;
		padding: 0;
	}

	
	.social ul li a {
		padding: 1%;
	}
}