.head-information-content{
    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url('../../../../assets/images/background_telefonos_contacto.jpg');
    background-repeat: no-repeat;
    background-color: #f2faed;
    background-size: 100% 100%;
}

.telefonos-information-content{
    padding-left: 1%;
    padding-top: 1.5%;
    padding-bottom: 3%;
    box-sizing: border-box;
    display: flex;
}

.wrapper-left{
    max-width: 25%;
    width: 25%;
    border-right: 1px solid black;
    flex-grow: 1;
    opacity: 0.7;
}

.wrapper-right{
    flex-grow: 1;
    max-width: 70%;
    padding-top: 3%;
}

.strong-yellow{
    color: #f4bc07;
    font-weight: 900;
}

.wrapper-right p{
    color: black;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
    padding-top: 1%;
    text-align: center;
}

.wrapper-right li{
    display: inline-block;
}

.wrapper-right a{
    text-decoration: none;
}

.telefonos {
    padding: 0;
}

.telefonos li{
    min-width: 30%;
    list-style-type: none;
    text-decoration: none;
    padding: 1% 1.5%;
}

.telefonos h4{
    padding: 0 2%;
    color: #f4bc07;
    font-size: 2vw;
    font-weight: 600;
    font-style: normal;
    font-family: "Signika", Arial;
    display: inline;
}

.telefonos-item img{
    display: inline;
    max-width: 5%;
}

.telefonos span{
    display: block;
    padding-left: 0.3%;
    color: rgb(6, 82, 151, 1);
    font-size: 1.7vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
}

.telefonos-item{
    text-align: center;
}