<div class="head-information-content">
    <!--Cambiar color a amarillo-->
    <h3 class="blue-title">Contáctanos</h3>
    <p class="text-blue">Nos Aseguramos de que puedas tener una calidad de servicio óptima en cada momento que lo
        necesites.</p>
</div>

<div class="body-information-content">
    <img src="assets/icons/contactanos_logo.svg" alt="contactanos">

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Arequipa
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(054)213435</span>

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Ayaviri
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(051)307149</span>

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Puno
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(051)208364</span>

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Tacna
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(052)792785</span>

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Moquegua
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(053)479533</span>

    <h4>
        <img src="assets/icons/right_arrow.svg">
        Juliaca
        <img src="assets/icons/left_arrow.svg">
    </h4>
    <span>(051)307149</span>

    <p>También puedes realizar tus consultas a nuestro Whatsapp <a>aquí</a> o marcando el 913 169 666</p>
</div>