<div class="head-information-content">
    <!--Cambiar color a amarillo-->
    <h3 class="blue-title">Contáctanos</h3>
    <p class="text-blue">Nos Aseguramos de que puedas tener una calidad de servicio óptima en cada momento que lo
        necesites.</p>
</div>

<div class="telefonos-information-content">

    <div class="wrapper-left">
        <img src="assets/icons/contactanos_movil.svg" alt="contactanos">
    </div>

    <div class="wrapper-right">
        <ul class="telefonos">
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img src="assets/icons/right_arrow.svg">
                        <h4>Arequipa</h4>
                        <img src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(054)<strong>213435</strong></span>
                </div>
            </li>
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img  src="assets/icons/right_arrow.svg">
                        <h4>Ayaviri</h4>
                        <img  src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(051)<strong>307149</strong></span>
                </div>
            </li>
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img  src="assets/icons/right_arrow.svg">
                        <h4>Puno</h4>
                        <img  src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(051)<strong>208364</strong></span>
                </div>
            </li>
        </ul>
    
        <ul class="telefonos">
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img  src="assets/icons/right_arrow.svg">
                        <h4>Tacna</h4>
                        <img  src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(052)<strong>792785</strong></span>
                </div>
            </li>
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img  src="assets/icons/right_arrow.svg">
                        <h4>Moquegua</h4>
                        <img  src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(053)<strong>479533</strong></span>
                </div>
            </li>
            <li>
                <div class="telefonos-item">
                    <div class="ciudad">
                        <img  src="assets/icons/right_arrow.svg">
                        <h4>Juliaca</h4>
                        <img  src="assets/icons/left_arrow.svg">
                    </div>
                    <span>(051)<strong>307149</strong></span>
                </div>
            </li>
        </ul>
    
        <p>
            También puedes realizar tus consultas a <br /> 
            nuestro Whatsapp <a href="" ><strong class="strong-yellow">aquí</strong></a> 
            o marcando el <strong class="strong-yellow">913 169 666</strong>
        </p>
    </div>

</div>