<div class="container">
    <div class="item">
        <h2>Fichas de Entrada</h2>
        <p>Busque su numero de dni en la agencia que le correspode</p>
        <div class="listas">
            <app-lista-fichas idAgencia="01" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="02" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="03" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="04" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="05" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="06" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="07" tipoFicha=0 ruta="/interno/rh/ficha"></app-lista-fichas>
        </div>
    </div>
    
    <div class="item">
        <h2>Fichas de Salida</h2>
        <p>Busque su numero de dni en la agencia que le correspode</p>
        <div class="listas">
            <app-lista-fichas idAgencia="01" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="02" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="03" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="04" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="05" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="06" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
            <app-lista-fichas idAgencia="07" tipoFicha=1 ruta="/interno/rh/ficha"></app-lista-fichas>
        </div>
    </div>
</div>
