<h2>Fichas de Entrada</h2>
<div class="container">
    <app-lista-fichas idAgencia="01" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="02" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="03" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="04" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="05" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="06" tipoFicha=0></app-lista-fichas>
    <app-lista-fichas idAgencia="07" tipoFicha=0></app-lista-fichas>
</div>
<h2>Fichas de Salida</h2>
<div class="container">
        <!--
    <app-lista-fichas idAgencia="01" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="02" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="03" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="04" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="05" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="06" tipoFicha=1></app-lista-fichas>
    <app-lista-fichas idAgencia="07" tipoFicha=1></app-lista-fichas>
-->
</div>