<div class="head-information-content">
    <h3 class="blue-title">Nosotros</h3>
    <p class="text-blue">Conoce nuestros datos empresariales</p>
</div>

<div class="tail-information-content helper">
    <ul class="req-li">
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="">
            <span><strong>Razon social:</strong> Cooperativa de Servicios Múltiples Multicoop Perú</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="">
            <span><strong>RUC:</strong> 20600521927</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="">
            <span><strong>Inicio de Operaciones:</strong> 15 de Setiembre del 2015</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="">
            <span><strong>Giro de negocio:</strong> Cooperativa de de Servicios Múltiples</span>
        </li>
    </ul>
</div>
