.head-information-content{
    padding-left: 3.5%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url('../../../../assets/images/background_datos_empresa.jpg');
    background-repeat: no-repeat;
    background-color: #f2faed;
    background-size: 100% 100%;
}

.helper{
    padding-top: 5%;
}