.container {
    display: flex;
    margin: 0% 1%;
}

.col-1 {
    width: 48%;
    padding: 1% 0% 1% 1%;
}

.col-2 {
    width: 52%;
    padding: 1%;
}

.button-container{
    width: 100%;
    text-align: center;
}

.black-title{
    font-family: 'GothamMedium';
    font-size: 2vw;
    text-align: center;
}

.yellow-title{
    font-family: 'GothamMedium';
    color: rgb(231,193,31);
    font-size: 1.5vw;
    text-align: center;
}

.inputs {
    font-family: 'GothamBook';
    width: 80%;
}

.enviar {
    background-color: rgb(53, 104, 45);
    transition: background-color .5s ease-out 100ms;
}

img{
    width: 100%;
    height: 100%;
}

button{
    font-family: 'GothamMedium';
    display: inline-block;
    font-size: 1.5vw;
    width: 55%;
    border-radius: 2vw;
}

.participantes {
    display: block;
    font-size: 50%;
}

.input-container {
    text-align: center;
}

.enviar:hover{
    background-color: #004879;
    color: white;
}

.separator {
    height: .5vw;
}

.enviar:active{
    background-color: #005085;
    background-size: 100%;
    transition: background 0s;
}

.fields{
    padding-bottom: 1vw;
}

@media (max-width: 1026px) {
    .container{
        background-color: red;
    }
}


@media (max-width: 513px) {
    .container{
        background-color: yellow;
    }
}
