/*
.container {
    display: flex;
    margin: 0% 1%;
}

.logo {
    width: 31%;
    margin-right: 10%;
}

.col-1 {
    width: 48%;
    padding: 1% 0% 1% 1%;
}

.col-2 {
    width: 52%;
    padding: 1%;
}

.button-container{
    width: 100%;
    text-align: center;
}

.black-title{
    font-family: 'GothamMedium';
    font-size: 2vw;
    text-align: center;
}

.yellow-title{
    font-family: 'GothamMedium';
    color: rgb(231,193,31);
    font-size: 1.5vw;
    text-align: center;
}

.inputs {
    font-family: 'GothamBook';
    width: 80%;
}

.enviar {
    background-color: rgb(53, 104, 45);
    transition: background-color .5s ease-out 10ms;
}

img {
    width: 100%;
    height: 100%;
}

.enviar{
    font-family: 'GothamMedium';
    display: inline-block;
    font-size: 1.5vw;
    width: 55%;
    border-radius: 2vw;
}

.participantes {
    font-family: 'GothamBook' !important;
    display: block;
    font-size: 75%;
}

.input-container {
    text-align: center;
}

.enviar:hover{
    background-color: #004879;
    color: white;
}

.separator {
    height: .5vw;
}

.enviar:active{
    background-color: #005085;
    background-size: 100%;
    transition: background 0s;
}

.fields{
    padding-bottom: 1vw;
}

.home-button {
    text-align: left;
    width: 15%;
}

@media (max-width: 800px) {
    .home-button {
        width: 25%;
    }

    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 50%;
    }

    .logo {
        width: 23%;
    }

    .enviar {
        font-size: 2vw;
    }

    .yellow-title {
        font-size: 2vw;
    }

    .black-title {
        font-size: 3vw;
    }

    .participantes {
        font-size: 67%;
    }
}

@media (max-width: 650px) {
    .container{
        display: block;
    }

    .col-1 {
        width: 97%;
    }

    .col-2{
        width: 100%;
    }
    
    .home-button {
        width: 25%;
    }

    .logo {
        width: 31%;
    }

    .enviar {
        font-size: 2.5vw;
    }

    .yellow-title {
        font-size: 2.5vw;
    }

    .black-title {
        font-size: 3.5vw;
    }
}


@media (max-width: 513px) {
    .container{
        display: block;
    }

    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .home-button {
        width: 30%;
    }

    .logo {
        width: 31%;
    }

    .enviar {
        font-size: 3vw;
    }

    .yellow-title {
        font-size: 3vw;
    }

    .black-title {
        font-size: 4vw;
    }

    img {
        width: 97%;
    }
}
*/