<footer>

    <hr class="blue-line-a">

    <div class="grid-container">
        <div class="grid-item">
            <div class="title-footer-item">
                <img src="assets/icons/right_arrow.svg">
                <h3 class="title-color-2 inline-title">Conozca mas</h3>
            </div>

            <ul class="simple-list">
                <li class="text-list">¿Como protegemos tus datos?</li>
                <li class="text-list">Tasas y tarifas</li>
            </ul>

        </div>

        <div class="grid-item">
            <div class="title-footer-item">
                <img src="assets/icons/right_arrow.svg">
                <h3 class="title-color-2 inline-title">Interes</h3>
            </div>

            <ul class="simple-list">
                <li class="text-list">Trabaja con nosotros</li>
                <li class="text-list">Actualiza tus datos</li>
            </ul>

        </div>

        <div class="grid-item">
            <div class="title-footer-item">
                <img src="assets/icons/right_arrow.svg">
                <h3 class="title-color-2 inline-title">Contacto</h3>
            </div>

            <ul class="simple-list">
                <li>
                    <button mat-icon-button disabled>
                        <mat-icon>call</mat-icon> 987 816 785
                    </button>
                </li>
                <li>
                    <button mat-icon-button disabled>
                        <mat-icon>email</mat-icon> contacto1@multicoop.com.pe
                    </button>
                </li>
            </ul>
        </div>

        <div class="grid-item">
            <div class="title-footer-item">
                <img src="assets/icons/right_arrow.svg">
                <h3 class="title-color-2 inline-title">Asociados a</h3>
            </div>

            <img src="assets/images/asociados_footer.png" class="mx-auto" width=" 80%" style="display: block;">
        </div>

        <div class="grid-item">
            <a routerLink="reclamacion">
                <img class="mx-auto" src="assets/images/libro_reclamaciones_footer.png" width="80%">
            </a>

            <div>
                <img class="mx-auto " src="assets/images/de_la_mano_footer.png" width="80%">
            </div>
        </div>
    </div>
</footer>