<hr class="blue-line-a">

<div class="grid-container">
    <div class="grid-item">
        <img src="assets/icons/right_arrow.svg" width="21" height="21">
        <h3 class="title-color-2 inline-title">Conozca mas</h3>

        <ul class="simple-list">
            <li class="text-list">¿Como protegemos tus datos?</li>
            <li class="text-list">Tasas y tarifas</li>
        </ul>

    </div>

    <div class="grid-item">
        <img src="assets/icons/right_arrow.svg" width="21" height="21">
        <h3 class="title-color-2 inline-title">Interes</h3>

        <ul class="simple-list">
            <li class="text-list">Trabaja con nosotros</li>
            <li class="text-list">Actualiza tus datos</li>
        </ul>

    </div>

    <div class="grid-item">
        <img src="assets/icons/right_arrow.svg" width="21" height="21">
        <h3 class="title-color-2 inline-title">Asociados a</h3>

        <img src="assets/images/asociados_footer.png" width="200" style="display: block;">
    </div>

    <div class="grid-item">
        <a routerLink="reclamacion">
            <img class="mx-auto" src="assets/images/libro_reclamaciones_footer.png" width="220">
        </a>

        <div>
            <img src="assets/images/de_la_mano_footer.png" width="220">
        </div>
    </div>
</div>