.blue-line-a {
    margin: 2% 2%;
    border-color: #0169c4;
    color: #0169c4;
}

.title-footer-item img{
    width: 7%;
}

.mx-auto{
    text-align: center;
}

.grid-container {
    display: grid;

    grid-template-columns: auto auto 22% 22%;
    grid-gap: 2rem;
    margin: 0 5%;
    font-family: 'Signika';
}

.grid-item h3{
    display: inline;
    color: #E7C11F;
    font-size: 3vw;
}

.grid-item li a{
    text-decoration: none;
}

.grid-item li{
    list-style: none;
    padding: 0rem;
}

.grid-item ul{
    padding: .2% 1.1%;
}

@media screen and (max-width: 400px) {
    .grid-container {
        display: grid;
    
        grid-template-columns: 17% 17% 20% 20%;
        grid-gap: 2rem;
        margin: 0 5%;
        font-family: 'Signika';
    }
}