/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Signika';
    src: url('assets/fonts/Signika-Light.woff2') format('woff2'),
        url('assets/fonts/Signika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('assets/fonts/Signika-Bold.woff2') format('woff2'),
        url('assets/fonts/Signika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('assets/fonts/Signika-Regular.woff2') format('woff2'),
        url('assets/fonts/Signika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('assets/fonts/Signika-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Signika-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body{
    margin: 0;
}


.blue-title{
    margin: 1.1% 0%;
    color: rgb(6, 82, 151, 1);
    font-size: 4vw;
    font-weight: 600;
    font-family: 'Signika';
    font-style: normal;

}

.white-title{
    margin: 1.1% 0%;
    color: white;
    font-size: 4vw;
    font-weight: 600;
    font-family: 'Signika';
    font-style: normal;

}

.yellow-title{
    margin: 1.1% 0%;
    color: #E7C11F;
    font-size: 4vw;
    font-weight: 600;
    font-family: 'Signika';
    font-style: normal;
}

.beneficios{
    text-align: center;
}

.blue-multi{
    margin: 1% 0%;
    color: rgb(6, 82, 151, 1);
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Signika';
    font-style: normal;
    text-align: center;
}

.blue-sub-title{
    margin: 1% 0%;
    color: rgb(6, 82, 151, 1);
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Signika';
    font-style: normal;
    text-align: center;
}

.req-blue{
    color: rgb(6, 82, 151, 1);
    font-size: 10vw;
}

.req-li li{
    list-style-type: none;
    text-decoration: none;
    padding: .1% 1.5%;
}

.req-li {
    padding: 0;
    margin: 2% 0;
}

.req-li span{
    padding-left: .3%;
    color: black;
    font-size: 1.7vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
}

.text-blue{
    color: rgb(6, 82, 151, 1);
    font-size: 1.3vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
}

.bold-text-blue{
    color: rgb(6, 82, 151, 1);
    font-size: 1.5vw;
    font-weight: 600;
    font-style: normal;
    font-family: "Signika", Arial;
}

.white-text{
    color: white;
    font-size: 1.3vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
}

.beneficios-item{
    display: inline-block;
    margin: 1% 3%;   
}

.beneficios-item p{
    color: black;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    font-family: "Signika", Arial;
}

.beneficios-item h5{
    margin: 2% 0;
    color: rgb(6, 82, 151, 1);
    font-size: 1.7vw;
    font-weight: bold;
    font-style: normal;
    font-family: "Signika", Arial;
}

.prestamo-yellow-button, .simula-yellow-button{
    color: white;
    font-size: 1.8vw;
    font-family: "Signika", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #f4bc07;
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: .5rem;
}

.simula-yellow-button:hover, .prestamo-yellow-button:hover{
    cursor: pointer;
    color: rgb(1, 105, 192, 1);
}

.wrapper-button{
    text-align: center;
}

.li-arrow{
    width: 1.5%;
}

.body-information-content{
    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.tail-information-content{
    padding-left: 3.5%;
    padding-top: .1%;
    padding-bottom: 2%;
}

.tail-information-content h3{
    color: rgb(6, 82, 151, 1);
    font-size: 3vw;
    font-weight: bold;
    font-style: normal;
    font-family: "Signika", Arial;
    margin: 1% 0;
}

.beneficios-item img{
    width: 40%;
    height: 40%;
}

.beneficios-item a{
    color: #f4bc07;
    font-weight: 900;
}
