 <div class="reclamaciones-content">
    <form [formGroup]="denunciasForm" class="" (ngSubmit)="denunciar(denunciasForm.value)" enctype="multipart/form-data">
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="acordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    I. Identificacion de la agencia
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="agencia-datos">
                <div class="segunda-fila">
                    <mat-form-field class="example-chip-list">
                        <mat-label>Agencia</mat-label>
                        <mat-select formControlName="agencia" matNativeControl>
                            <mat-option value="01">Arequipa</mat-option>
                            <mat-option value="02">Juliaca</mat-option>
                            <mat-option value="03">Puno</mat-option>
                            <mat-option value="04">Moquegua</mat-option>
                            <mat-option value="05">Ayaviri</mat-option>
                            <mat-option value="06">Tacna</mat-option>
                            <mat-option value="07">Cusco</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="acordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    II. Identificacion del denunciante
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="reclamador-datos">
                <div class="segunda-fila">
                    <div>
                        <label>¿Es anónima?</label>
                    </div>
                    <div>
                        <mat-radio-group
                            aria-label="Anonimo"
                            formControlName="anonimo"
                            color="primary">
                            <mat-radio-button class="example-radio-button" value="si" (change)="anonimoController($event)">Si</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="no" (change)="anonimoController($event)">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
    
                <div [style.display]="anonimo ? 'none': 'block'" >
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Nombres</mat-label>
                            <input formControlName="nombres" type="text" placeholder="Diego Armando" matInput>
                        </mat-form-field>
                    </div>
                    
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Apellidos</mat-label>
                            <input formControlName="apellidos" type="text" placeholder="Rivera Corrales" matInput>
                        </mat-form-field>
                    </div>
            
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Documento</mat-label>
                            <mat-select color="primary" formControlName="tipoDocumento" matNativeControl>
                                <mat-option value="dni">DNI</mat-option>
                                <mat-option value="ce">Carnet de Extrangería</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Número de documento</mat-label>
                            <input formControlName="numeroDocumento" type="text" placeholder="65841298" matInput>
                        </mat-form-field>
                    </div>
            
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Teléfono</mat-label>
                            <input formControlName="telefono" type="text" placeholder="926485135" matInput>
                        </mat-form-field>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Correo</mat-label>
                            <input formControlName="correo" type="text" placeholder="empleado@multicoop.com.pe" matInput>
                        </mat-form-field>
                    </div>
    
                    <div >
                        <mat-form-field class="example-chip-list datos">
                            <mat-label>Puesto</mat-label>
                            <input formControlName="puesto" type="text" placeholder="Analista Junior" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="acordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    III. Identificacion del incidente
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="bien-contratado">
                <div class="sexta-fila">

                    <mat-form-field>
                        <mat-label>Fecha de Incidencia</mat-label>
                        <input matInput [matDatepicker]="picker" (focus)="picker.open()" formControlName="incidencia" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
        
                <div class="septima-fila">
                    <label>Incidente</label>
                    <mat-radio-group color="primary" class="example-radio-group" aria-label="incidente" formControlName="incidente">
                        <mat-radio-button class="example-radio-button" value="Hostigamiento Laboral" (change)="disableOtros()">Hostigamiento laboral</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Hostigamiento Sexual" (change)="disableOtros()">Hostigamiento sexual</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Descuentos por planilla" (change)="disableOtros()">Descuentos por planilla</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Abuso de autoridad" (change)="disableOtros()">Abuso de autoridad</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Bullying" (change)="disableOtros()">Bullying</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Fraude" (change)="disableOtros()">Fraude</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Corrupcion" (change)="disableOtros()">Corrupción</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Omision de corrupcion" (change)="disableOtros()">Omisión de normativa</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="Practicas Ilicitas" (change)="disableOtros()">Practicas ilicitas</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="otros" (change)="enableOtros()">
                            <mat-form-field>
                                <mat-label>Otros</mat-label>
                                <input formControlName="otrosIncidente" type="text" matInput>
                            </mat-form-field>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="acordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    IV. Detalle del Incidente
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="detalles-reclamo-queja">
                <div class="novena-fila">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip
                            *ngFor="let fruit of fruits"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(fruit)">
                            {{fruit}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Involucrados..."
                            #fruitInput
                            [formControl]="fruitCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)"
                            [(ngModel)]="involucradosHelper">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                            {{fruit}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
    
                    <mat-form-field class="example-chip-list">
                        <mat-label>Detalle</mat-label>
                        <textarea formControlName="detalleIncidente" class="" rows="3" maxlength="1000" matInput></textarea>
                    </mat-form-field>
                </div>
        
                <div class="">
                    <mat-checkbox color="primary" formControlName="veracidad">
                        Declaro expresamente que la informacion que estoy brindando es verdadera.
                    </mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>
<!--
        <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="acordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    V. Evidencias
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <input
				formControlName="curriculum"
				name="file"
				type="file"
				id="file"
				class="inputfile"
					accept="application/pdf, application/vnd.ms-excel"
					(change)="updateFileName($event.target.files)"
					/>
				<label for="file">
						<div class="cv-label">
							<p id="fileName">{{file_name}}</p>
						</div>
					<img src="assets/icons/adjuntar_cv.svg" alt="cv">
				</label>
            </div>
        </mat-expansion-panel>
-->
        <div class="reclamaciones-send">
            <button mat-raised-button color="primary" type="submit" [disabled]="denunciasForm.invalid || disable" >Enviar</button>
        </div>
    </form>
</div>


