.acordion {
    margin: 3% 0;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.reclamaciones-content form{
    width: 85%;
    margin: 0 auto 2% auto;
}

.reclamaciones-send {
    text-align: center;
}

.example-chip-list{
    width: 100%;
}

.datos {
    margin: 1% 0;
}