<div class="head-information-content">
    <h3 class="blue-title">Préstamo Paga Diario</h3>
    <p class="text-blue">Las mejores tasas del mercado para tu crédito, con el
        mejor alcance para que <br /> puedas pagar tus cuotas sin problemas.</p>
    <button routerLink="/precalificador" class="prestamo-yellow-button">Obtén tu Préstamo</button>
</div>

<div class="body-information-content">
    <h4 class="blue-sub-title">Beneficios de socilitar tu prestamo en</h4>
    <h2 class="blue-multi">Multicoop Peú</h2>

    <div class="beneficios">
        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_pre_califica.svg" alt="pre califica por web">
            <h5>Pre califica por web</h5>
            <p>Solicítalo <a routerLink="/precalificador">aqui</a> y recibe <br /> asesoramiento al instante</p>
        </div>

        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_plazos_tasas.svg" alt="plazos y tasas flexibles">
            <h5>Plazos y tasas flexibles</h5>
            <p>Las mejores tasas del mercado <br /> con cuotas desde 3 a 30 meses</p>
        </div>

        <div class="beneficios-item">
            <img src="assets/icons/beneficios_prestamo_convenios.svg" alt="convenios para ti">
            <h5>Convenios para ti</h5>
            <p>Recibes beneficios y descuentos con <br /> nuestras alianzas estrategicas</p>
        </div>
    </div>
</div>

<div class="tail-information-content">
    <h3>Requisitos</h3>
    <ul class="req-li">
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="DNI vigente">
            <span>DNI vigente</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Sustento de ingresos">
            <span>Sustento de Ingresos</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Recibo de servicios">
            <span>Recibo de servicios</span>
        </li>
        <li>
            <img class="li-arrow" src="assets/icons/right_arrow.svg" alt="Sujeto a evaluación">
            <span>Sujeto a evaluación</span>
        </li>
    </ul>
    <div class="wrapper-button">
        <button class="simula-yellow-button">Simula tu crédito</button>
    </div>
</div>